@page
@model StorageAuthDemo.DownloadModel
@{
    ViewData["Title"] = "Download";
}

<h1>Download File</h1>

<button type="submit" asp-page-handler="DownloadFile" style="width:75px"
        class="cancel">
    Download
</button>